.App {
  align-items: center;
  background-color: black;
  color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.Progress {
  background-color: lightgray;
  max-width: 600px;
  width: 75%;
}

footer {
  font-size: small;
  margin-top: 16px;
}

h1,
p {
  text-align: center;
}
